{% extends 'global/base.html' %}
{% load django_bootstrap5 %}

{% block head %}
    <title>Contato</title>
    {% bootstrap_css %}
{% endblock head %}


{% block body %}
<div class="container">
    <h1>Contato</h1>

    {% bootstrap_messages %}

    <form action="{% url 'plataforma:contato' %}" method="post" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Enviar Mensagem" button_type="submit" button_class="btn-primary" %}
    </form>
</div>
    {% bootstrap_javascript %}
{% endblock body %}

